streamlit==1.49.1
pandas>=2.2.2
openpyxl>=3.1.5
xlrd>=2.0.1
pdfkit>=1.0.0
# Para usar WeasyPrint, descomente a linha abaixo e instale as dependências do SO (cairo, pango, gdk-pixbuf)
# weasyprint>=61.2
